.header-panel
{
    background-color:#3f51b5;
    color:white;
    margin-bottom:0px;
}
#content
{
    padding:15px;
}
.navbar-header {
    width:100%;
}
#about-icon {
  font-size: 30pt;
}
#about-icon-div {
    display:inline-block;
    padding-top: 10px;
    padding-bottom: 4px;
    float:right;
}
#about-icon:hover {
    cursor: pointer;
    text-shadow: 0 0 10px rgba(0, 0, 0, .9);
}
#about-div {
  z-index: 11;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 10vw;
  padding-right: 10vw;
  top: 12vh;
  width: 70vw;
  height: 80vh;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  overflow: auto;
  font-size: 13pt;
}
#about-div-bg {
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.about {
  display: none;
}
.x-button {
  z-index: 12;
  position: absolute;
  right: 1vw;
  top: 1vw;
  color: black;
  transition: color .2s;
}
.x-button:hover {
  cursor: pointer;
  color: red;
}
#guide-div {
  position: absolute;
  top: 55px;
	right: 5px;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-top: 5px;
  padding-bottom: 0;
  font-size: 2vh;
  background-color: #607D8B;
  color: white;
  box-shadow: 0 0 .7vh rgba(0, 0, 0, .5);
  z-index: 5;
}
#point-up {
	width: 0;
	height: 0;
	border-left: 1.5vh solid transparent;
	border-right: 1.5vh solid transparent;
	border-bottom: 1vh solid #607D8B;
  position: absolute;
  top: 50px;
  right: 25px;
}
