{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script src="/js/index.js"></script>
{% endblock %}
{% block content %}
<style>
#word-list:empty:before
{
    border-top:1px solid #ccc;
    display:block;
    content: 'No Words';
    color:#BDBDBD;
    padding:15px;
    font-size:2em;
}
#word-list
{
    border-bottom:1px solid #ccc;
}
.card
{
    padding:15px;
    margin-bottom:30px;
}
.word-item
{
    border-top:1px solid #ccc;
    padding:15px;
    font-size:2em;
}
.word-item:after
{
    display:block;
    clear:both;
}
.word-item-delete
{
    float:right;
    cursor:pointer;
    font-weight:bold;
    color:#aaa;
}
.word-item-delete:hover
{
    color:#F44336;
}
#practice-word
{
    font-size:4em;
    text-align:center;
}
#practice-word:empty:before
{
    content:'(None)';
    color:#aaa;
}
.form-group
{
    display:inline;
}
#upload {
  display: none;
}
.word-item-trans {
    padding-left:5px;
    font-size:0.75em;
    color:#666;
}
</style>
<div class="card">
    <h3>Word Practice</h3>
    <div class="togglebutton" style='position:absolute;top:1vh;right:1vw;'>
      <label>
        Character<input type="checkbox" style='margin-left:1.5vw;'>Translation
      </label>
    </div>
    <div id="practice-word"></div>
    <button id="btn-toggle" class="btn btn-raised btn-primary" disabled>Start Practice</button>
</div>
<div class="card">
    <h3>Word List</h3>
    <label for="new-word-char" class="control-label">New Word</label>
    <div id="word-list"></div>
    <table style='width:100%;'>
      <tr>
        <td>
          <div class="form-group">
              <input type="text" id="new-word-char" name="new-word-char" class="form-control" style='width:70%' placeholder="Character" />
          </div>
        </td>
        <td>
          <div class="form-group">
              <input type="text" id="new-word-trans" name="new-word-trans" class="form-control" style='width:70%' placeholder="Translation" />
          </div>
        </td>
      </tr>
    </table>
    <div>
      <button id="add-word" class="btn btn-raised btn-success">Add Word</button>
      <input type='text' id='set-label' class="form-control" style='width:20vw;box-shadow:none;margin-left:4vw;display:inline' placeholder="Label Name">
      <button id='save-set' class="btn btn-raised btn-success" disabled>Save</button>
      <button id='load-set' class="btn btn-raised btn-success" disabled>Load</button>
      <button id='delete-set' class="btn btn-raised btn-success" disabled>Delete</button>
    </div>
</div>
{% endblock %}
