{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script src="/js/index.js"></script>
{% endblock %}
{% block content %}
<style>
#word-list:empty:before
{
    border-top:1px solid #ccc;
    display:block;
    content: 'No Words';
    color:#BDBDBD;
    padding:15px;
    font-size:2em;
}
#word-list
{
    border-bottom:1px solid #ccc;
}
.card
{
    padding:15px;
    margin-bottom:30px;
}
.word-item
{
    border-top:1px solid #ccc;
    padding:15px;
    font-size:2em;
}
.word-item:after
{
    display:block;
    clear:both;
}
.word-item-delete
{
    float:right;
    cursor:pointer;
    font-weight:bold;
    color:#aaa;
}
.word-item-delete:hover
{
    color:#F44336;
}
#practice-word
{
    font-size:4em;
    text-align:center;
}
#practice-word:empty:before
{
    content:'(None)';
    color:#aaa;
}
.form-group
{
    display:inline;
}
#upload {
  display: none;
}
</style>
<div class="card">
    <h3>Word Practice</h3>
    <div id="practice-word"></div>
    <button id="btn-toggle" class="btn btn-raised btn-primary" disabled>Start Practice</button>
</div>
<div class="card">
    <h3>Word List</h3>
    <div id="word-list"></div>
    <div class="form-group">
        <label for="new-word" class="control-label">New Word</label>
        <input type="text" id="new-word" name="new-word" class="form-control" placeholder="New Word" />
    </div>
    <button id="add-word" class="btn btn-raised btn-success">Add Word</button>
    <button id='upload-button' class='btn btn-raised btn-primary'>Upload Set</button>
    <input type='file' id='upload'>
    <div style='float:right;'>
      <input type='text' id='set-label' class="form-control" style='width:20vw;box-shadow:none;margin-right:1vw;display:inline' placeholder="Label Name">
      <button id='save-set' class="btn btn-raised btn-success" disabled>Save</button>
      <button id='load-set' class="btn btn-raised btn-success" disabled>Load</button>
      <button id='delete-set' class="btn btn-raised btn-success" disabled>Delete</button>
    </div>
</div>
{% endblock %}
